<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDoList—最简单的待办事项列表</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    
    <div class="container todo-box">

        <h1 class="text-center"> ToDoList—最简单的待办事项列表 </h1>

        <input v-model = 'new_title' @keyup.enter = "saveInputVal" type="text" class="form-control">
        
        <div class="todo-content">
            <h3>正在进行 <span class="label label-primary pull-right">{{ unfinished.length }}</span> </h3>
            <ul class="list-group">
                <!-- 循环 -->
                <li 
                    v-for = "item in  unfinished":key = "item.id"
                class="list-group-item">
                    <div class="row">
                        <input v-model="item.isFinished"  class="col-xs-1" type="checkbox">
                        <div class="title col-xs-8">
                            <!-- <input type="text"> -->
                            <input @blur = "item.isChanging = false" v-model.lazy = "item.title" v-if = "item.isChanging" type="text" >
                            <span v-else @click = "item.isChanging = !item.isChanging">{{item.title}}</span>
                        </div>
                        <button @click = "removeList(item.id)"  type="button" class="close col-xs-1" ><span >&times;</span></button>
                    </div>
                </li>
            </ul> 
        </div>
        <div class="todo-content">
            <h3>正在进行 <span class="label label-primary pull-right">{{ finished.length }}</span> </h3>
            <ul class="list-group">
                <!-- 循环 -->
                <li 
                    v-for = "item in  finished":key = "item.id"
                class="list-group-item">
                    <div class="row">
                        <input v-model="item.isFinished" class="col-xs-1" type="checkbox">
                        <div class="title col-xs-8">
                            <!-- <input type="text"> -->
                            <input @blur = "item.isChanging = false" v-model.lazy = "item.title" v-if = "item.isChanging" type="text" >
                            <span v-else @click = "item.isChanging = !item.isChanging">{{item.title}}</span>
                        </div>
                        <button @click = "removeList(item.id)"  type="button" class="close col-xs-1" ><span >&times;</span></button>
                    </div>
                </li>
            </ul> 
        </div>

    </div>

    <script src="../base/vue.js"></script>
    <script>
        new Vue({
            el: '.todo-box',
            data : {
                todosId : JSON.parse(localStorage.todoid || '0'),
                todos :JSON.parse(localStorage.todos || '[]'),
                new_title : ''//获取input中的数据
            },
            watch: {
                todos : {
                    deep : true,
                    handler(){
                        //将新的信息存到localstorge里
                        localStorage.todosid = this.todosid,
                        localStorage.todos = JSON.stringify(this.todos)
                    }
                }
            }, 
            computed:{
                 finished(){ return this.todos.filter(item =>item.isFinished) },
                 unfinished(){ return this.todos.filter(item =>!item.isFinished) }
            },
            methods: {
                //定义一个类保存
                saveInputVal(){
                    this.todos.push({
                        id : ++this.todosId,
                        title : this.new_title,//相当于input中的value值
                        isFinished : false,
                        isChanging : false 
                    })
                    this.new_title =''
                },
                //删除信息
                removeList(id){
                    this.todos = this.todos.filter(item => item.id !== id)
                }
            }   
            
            
        })
       
    </script>
</body>
</html>